@font-face{
    font-family: 'Raleway';
    src: url('Raleway-Regular.ttf');
}
html
{
    width: 100%;
    height: 100%;
}
body
{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0px;
}
.app
{
    width: 50%;
    height: 30%;
    float: left;
    margin-left: 25%;
    margin-top: 50%;
    border: 1px solid black;
}
#mg
{
    text-align: center;
    font-family: Raleway;
}